@media (max-width:576px){

    .presentacion{
        display:flex;
        flex-direction: column;
        max-width: 400px;
    }

.presentacion h1{
    font-size: 80px;
    text-align:center;
    min-width: 500px;
}

    .ubi-canales{
        display:flex;
        flex-direction: column;
        max-width: 400px;
    }
}