/*tablet*/
@media  (max-width: 992px) {
    .navbar-list {
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        width: 100%;
        flex-direction: column;
        background-color: rgb(40, 62, 32);
        border-radius: 0px 0px 100% 100%;
        align-items: center;
        padding: 10% 0px 24% 0px;
        gap: 30px;
        z-index: 3px;
        display: none;
        animation: fadeInDownBig;
        animation-duration: 2s;
      }
    
      @keyframes fadeInDownBig {
      }
    
      .navbar-list a {
        cursor: pointer;
        font-size: 40px;
      }
    
      .menu-label {
        display: flex;
        cursor: pointer;
      }
    
      #menu-toggle:checked + .navbar-list {
        display: flex;
      }
    

      .presentacion{
        width:100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap:5px;
      }

      .presentacion h1{
        width:90%;
        max-width: 500px;
        min-width: unset;
      }

      .frase{
        width: 100%;
        text-align: center;
      }

      .imgs-presentacion{
        display:none;
      }


      .flor-background-about {
        left: 300px;
      }
    
      .flor-background-teach {
        left: 170px;
        top: 250px;
      }
    
      .flor-background-service {
        left: 170px;
        top: 200px;
      }
    
      .about-us-texto p {
        margin: auto;
        width: 50%;
        text-align: justify;
      }
    
      .flor-about {
        left: 18%;
      }
    
      .teach-texto p,
      .btn-compra {
        width: 50%;
      }
    
      .flor-teach {
        right: 17%;
      }
    
      .service-texto p {
        width: 50%;
      }
    
      .flor-service {
        right: 17%;
      }

      .contenedor-2{
        width: 70%;
      }
    


}